* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
      main {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: #14171e;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    /* perspective: 1000px; */
  }
  main::before {
    content: "";
    position: absolute;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    transform: translate(-150px, -100px);
    background: linear-gradient(90deg, #9c27b0, #f3f5f5);
  }
  main::after {
    content: "";
    position: absolute;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    transform: translate(150px, 100px);
    background: linear-gradient(90deg, #9c27b0, #f3f5f5);
  }
  
  
  section {
    position: relative;
    height: 205px;
    width: 250px;
    z-index: 100;
    transition: 0.6s;
    transform-style: preserve-3d;
  }
  
  section .box {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 25px;
    border-radius: 25px;
    backdrop-filter: blur(25px);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backface-visibility: hidden;
  }
  
  h3{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -15px;
  }
  
  .box-input{
      display: flex;
      justify-content: start;
      align-items: start;
      padding-top: 15px;
  }
  
  input{
      padding: 10px;
      width: 100%;
      outline: none;
      border: none;
      border-radius: 5px;
  
  
  }
  
  .btn{
      display: flex;
      justify-content: center;
      margin-top: 10px;
  }
  
  .first-btn {
    --b: 3px;   
    --s: .45em; 
    --color: #f0f4ff;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .first-btn:hover,
  .button-89:focus-visible{
    --_p: 0px;
    outline-color: #fff;
    outline-offset: .05em;
  }
  
  .first-btn:active {
    background: var(--color);
    color: #141111;
  }
  
  
  .clear{
      display: flex;
      justify-content: center;
      margin-top: 10px;
  }
  
  .new-btn{
      position: relative;
    overflow: hidden;
    border: 1px solid #18181a;
    color: #18181a;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    padding: 10px 18px;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .new-btn span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
  }
  
  .new-btn span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
  }
  
  .new-btn:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
  }
  
  .new-btn:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
  }
  
  .new-btn:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
  }
  
  
  
  .display{
      height: 500px;
      width: 250px;
  
  background: rgba(253, 249, 249, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(253, 249, 249, 0.08);
  
      position: absolute;
      right: 18%;
      z-index: 100;
      overflow: scroll;
  
  }
  
  .head{
      display: flex;
      justify-content: center;
      padding: 15px;
      border-bottom: 1px solid rgba(253, 249, 249, 0.11);
      background-image: linear-gradient(to left, rgb(236, 73, 236), rgb(0, 108, 130), green, blue, yellow, orange, red);
          -webkit-background-clip: text;
          -moz-background-clip: text;
          background-clip: text;
          color: transparent;
          position: relative;
  }
  
  .show{
      background-image: linear-gradient(to right, tomato, rgb(12, 155, 21), rgb(114, 255, 114), rgb(255, 0, 106), rgb(255, 255, 255), orange, red);
          -webkit-background-clip: text;
          -moz-background-clip: text;
          background-clip: text;
          color: transparent;
          display: flex;
          justify-content: center;
          margin-top: 15px;
          animation-name: show;
          animation-duration: 1s;  
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      /* animation-iteration-count: infinite; */
      /* animation-direction: alternate-reverse; */
      position: absolute;
  
  
  
        
        }
  
        @keyframes show{
      from {right: 0%;}
    to {right :35%;}
  }
  
  